<div class="center">
    <label for="git-user">Provide valid Git username</label>
    <input name="git-user" id="git-user" [(ngModel)]="gitUser" >

    <button class="btn" (click)="fetchData()">
      Get resume
    </button>
</div>



<div id="cv" class="instaFade" *ngIf="user">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="{{user.avatar_url}}" alt="{{user.name}}" />
        </div>

        <div id="name">
            <h1 class="quickFade delayTwo">{{user.name}}</h1>
            <h2 class="quickFade delayThree">Ready to be hired {{user.hireable}}</h2>
            <h3 class="quickFade delayThree">Live in {{user.location}}</h3>
        </div>

        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li>e: <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a></li>
                <li>w: <a href="{{user.blog}}">{{user.blog}}</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>

                <div class="sectionContent">
                    <p>{{user.bio}}</p>
                    <p>Have {{user.public_repos}} public repositories</p>
                    <p>Have {{user.followers}} followers</p>
                </div>
            </article>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>
            <div class="sectionContent">
                <div *ngFor="let repo of repos">
                    <hr>
                    <article >
                        <h2>{{repo.name}}</h2>
                        <p class="subDetails">{{repo.language}}</p>
                        <p>{{repo.description}}</p>
                        <p>{{repo.html_url}}</p>
                    </article>
                </div>


            </div>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Key Skills</h1>
            </div>

            <div class="sectionContent">
                <ul class="keySkills" *ngIf="languages">

                    <li *ngFor="let language of languages.array">
                        {{language}} - {{languages.skills[language]}}
                        ({{setPercentage(languages.skills[language])}}%)
                    </li>

                </ul>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>