<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Custom Angular resume generator!
  </h1>
</div>

<body id="top">
<div id="cv" class="instaFade">
  <router-outlet></router-outlet>
</div>
</body>


